In [3]:
import pandas as pd
df= pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
df.drop(['PassengerId','SibSp','Name','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

KeyError: "['PassengerId' 'SibSp' 'Name' 'Parch' 'Ticket' 'Cabin' 'Embarked'] not found in axis"

In [12]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [14]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [15]:
dummies=pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [17]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [18]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [19]:
df.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [21]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head(10)

   Pclass     Sex        Age     Fare  female  male
0       3    male  22.000000   7.2500       0     1
1       1  female  38.000000  71.2833       1     0
2       3  female  26.000000   7.9250       1     0
3       1  female  35.000000  53.1000       1     0
4       3    male  35.000000   8.0500       0     1
5       3    male  29.699118   8.4583       0     1
6       1    male  54.000000  51.8625       0     1
7       3    male   2.000000  21.0750       0     1
8       3  female  27.000000  11.1333       1     0
9       2  female  14.000000  30.0708       1     0

In [25]:
inputs.drop(['Sex'],axis='columns',inplace=True)
inputs.head(10)

KeyError: "['Sex'] not found in axis"

In [26]:
inputs.head(10)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1
6       1  54.000000  51.8625       0     1
7       3   2.000000  21.0750       0     1
8       3  27.000000  11.1333       1     0
9       2  14.000000  30.0708       1     0

In [44]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [29]:
len(x_train)

712

In [30]:
len(x_test)

179

In [31]:
len(inputs)

891

In [36]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [40]:
model.fit(x_train,y_train)

GaussianNB()

In [41]:
model.score(x_test,y_test)

0.7932960893854749

In [45]:
x_test[:10]

     Pclass        Age      Fare  female  male
776       3  29.699118    7.7500       0     1
804       3  27.000000    6.9750       0     1
66        2  29.000000   10.5000       1     0
9         2  14.000000   30.0708       1     0
522       3  29.699118    7.2250       0     1
37        3  21.000000    8.0500       0     1
258       1  35.000000  512.3292       1     0
94        3  59.000000    7.2500       0     1
343       2  25.000000   13.0000       0     1
642       3   2.000000   27.9000       1     0

In [46]:
y_test[:10]

776    0
804    1
66     1
9      1
522    0
37     0
258    1
94     0
343    0
642    0
Name: Survived, dtype: int64

In [47]:
model.predict(x_test[:10])

array([0, 0, 1, 1, 0, 0, 1, 0, 0, 1])

In [48]:
model.predict_proba(x_test[:10])

array([[9.89091691e-01, 1.09083090e-02],
       [9.88745980e-01, 1.12540200e-02],
       [2.96992212e-02, 9.70300779e-01],
       [2.18727670e-02, 9.78127233e-01],
       [9.89061138e-01, 1.09388618e-02],
       [9.87805154e-01, 1.21948462e-02],
       [8.88037926e-38, 1.00000000e+00],
       [9.86986043e-01, 1.30139575e-02],
       [9.76349685e-01, 2.36503146e-02],
       [3.24158160e-02, 9.67584184e-01]])