In [9]:
import pandas as pd
import numpy as np
from word2number import w2n
import matplotlib.pyplot as plt
from sklearn import linear_model

In [19]:
df=pd.read_csv("/home/attaullah/Documents/number.csv")
df

     exp  age
0    two   25
1  four    29
2   nine   35
3    six   30
4    NaN   22
5   five   37
6    NaN   21
7  three   44
8    NaN   28
9    two   22

In [21]:
df['exp']=df['exp'].fillna('zero')
df

ValueError: Type of input is not string! Please enter a valid number word (eg. 'two million twenty three thousand and forty nine')